examples/test.json
[
    {
        "id": "f54f603174068f97",
        "type": "motionblinds",
        "z": "20ec08aead3d5281",
        "name": "Gateway",
        "gateway": "e1e9f4770702c1bf",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "588523019dc2253f"
            ]
        ]
    },
    {
        "id": "588523019dc2253f",
        "type": "debug",
        "z": "20ec08aead3d5281",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "fe1f431a8ca9757d",
        "type": "inject",
        "z": "20ec08aead3d5281",
        "name": "Position: 22",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"f4cfa2dd4a430001\",\"value\":22,\"action\":\"targetPosition\"}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "f54f603174068f97"
            ]
        ]
    },
    {
        "id": "479f9861a92ae40f",
        "type": "inject",
        "z": "20ec08aead3d5281",
        "name": "Position: 21",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"f4cfa2dd4a430001\",\"value\":21,\"action\":\"targetPosition\"}",
        "payloadType": "json",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "f54f603174068f97"
            ]
        ]
    },
    {
        "id": "e8c45dc073c16ee1",
        "type": "inject",
        "z": "20ec08aead3d5281",
        "name": "Position: 20",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"f4cfa2dd4a430001\",\"value\":20,\"action\":\"targetPosition\"}",
        "payloadType": "json",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f54f603174068f97"
            ]
        ]
    },
    {
        "id": "b163c1ae6a41cac4",
        "type": "inject",
        "z": "20ec08aead3d5281",
        "name": "Open",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"f4cfa2dd4a430001\",\"value\":\"OpenUp\",\"action\":\"operation\"}",
        "payloadType": "json",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "f54f603174068f97"
            ]
        ]
    },
    {
        "id": "93569656ef15690b",
        "type": "inject",
        "z": "20ec08aead3d5281",
        "name": "StatusQuery",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"f4cfa2dd4a430001\",\"value\":\"StatusQuery\",\"action\":\"operation\"}",
        "payloadType": "json",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "f54f603174068f97"
            ]
        ]
    },
    {
        "id": "e1e9f4770702c1bf",
        "type": "motionblinds-gateway",
        "name": "Meterkast",
        "apikey": "<your-key>",
        "ipaddress": "<gateway-ip-address>"
    }
]